{
  "branches": ["main"],
  "plugins": [
    '@semantic-release/commit-analyzer',
    '@semantic-release/release-notes-generator',
    '@semantic-release/npm',
    '@semantic-release/github',
    [
      '@codedependant/semantic-release-docker', 
      {
        dockerTags: ['latest', '{{version}}', '{{major}}-latest', '{{major}}.{{minor}}'],
        dockerImage: 'getmydeck-app',
        dockerFile: 'Dockerfile',
        dockerRegistry: 'ghcr.io',
        dockerProject: 'chrisingenhaag',
        dockerBuildFlags: {
          pull: null
        },
      }
    ]
  ]
}